
12000
15
86400
AZURE_DEVOPS_ORG_URL
CACHE_DIR
CACHE_TTL
CONTEXT_DATA_DIR
FETCHER_MAX_CHARS
FETCHER_REQUEST_TIMEOUT
FORCE_CONSOLE_METRICS
FORCE_CONSOLE_TRACES
HOME
LITELLM_API_BASE
LOG_FORMAT
OBSIDIAN_AUTH_TOKEN
OTEL_EXPORTER_OTLP_ENDPOINT
PATH
SPAN_LOG_PATH
VIRTUAL_ENV
